body
{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(255, 255, 255, 0.308);
    
}

header
{
    background-color: rgb(7, 190, 223);
    text-align: center;
    color:  white;
}

footer
{
    text-align:  center;
    background-color: black;
    color: rgb(184, 184, 184);
}

main{
    margin: 10px;

}

.container-xxl
{
    background-color: rgb(255, 255, 255);
    box-shadow:  1px 1px 5px 5px rgba(82, 82, 82, 0.411);
    border-radius: 2px;
    text-align: center;
}