<h3>Üdvözöllek a <span>Csak Előre!</span> weboldalán!</h3>
<hr>


<div class="welcometext">
    <p><h4>Bemutatkozás</h4></p>
A Csak Előre! egy 3D egyjátékos kaland játék, amely egy szakgimnáziumi záródolgozat feladataként készült.
A játék célja, hogy a játékos a különböző pályák akadályait leküzdve eljusson a célba, a lehető leggyorsabb idő alatt.
A játékos a pálya teljesítése után kupát szerez: <span>bronz</span>, <span>ezüst</span>, és <span>arany</span> típusban, attól függően, hogy a pályát milyen gyorsan teljesítette.

<p><h4>Játékmenet</h4></p>
A játék kezdetekor a játékos a betanító pályán megismerheti az irányítást, majd amennyiben teljesítette, elérhetővé válik számára a többi pálya.
A pályák eltérő nehézségűek, egyben eltérő hosszúak. Amennyiben felkeltette az érdeklődésed a játék, és kipróbálnád, ingyenesen letöltheted regisztráció után.
<br>
Jó játékot kívánok!
</div>